*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


Body{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;

}

/***************************Navigatie$**************/
nav{
    background-color:#417033;
    height: 80px;
    width: 100%;
    position: fixed;

}
nav .logo {
   width: 100px;
   margin: 5px 0px 5px 50px;
}
nav ul{
    float: right;
    margin-right: 20px;
    

}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white; 
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;

}
a:hover{
    background-color:black;
    transition: .55s;
}
 /*-------------------main-image------------------------------- */
 img {
   max-width: 100%;
   height: auto;
  }
  .image-top {
   width: 100%;
   height: 500px;
   background-size: cover;
   background-position: center;
   margin-bottom: 50px;
   
  }




/*--------------------------------Partenaire----------------------------------------------------*/
.Part {
   background-color: white;
   margin-bottom: 5px; 
   padding: 20px;
   box-shadow: 0 4px 8px 0 black; 
   margin: auto; 
}

.Part h2{
   text-align: center;
   padding-bottom: 20px;
   color:#417033 ;
}

.partners-container {
   display: flex;
   justify-content: space-around;
   overflow-x: auto;
}

.Part-item {
   width: 100px;
   height: 100px;
   object-fit: contain;
}
/***********************************************************FOOTER***************************/

footer {
   background-color: #1d1d2a;
   width: 100%;
   min-height: 350px;
   padding: 48px 16px;
   margin-bottom: 0px;
   
   bottom: 0;
}

.container {
   max-width: 1140px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.rij {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.kol {
   min-width: 250px;
   color: #f2f2f2;
   padding: 0 2rem;
}

.kol .logo {
   width: 100px;
   margin-bottom: 25px;
}

.kol h3 {
   color: #ff014fff;
   margin-bottom: 20px;
   position: relative;

}

.kol .sociaal a i {
   color: #ff014fff;
   margin-top:16px;
   margin-right: 5px;
   font-size: 24px;
}


.kol .links a {
   display: block;
   text-decoration: none;
   color:#f2f2f2;
   margin-bottom: 5px;
   position: relative;
}

/* .kol #Contact {
   margin-top: 10px; 
   padding-right: 50px;
} */

.kol #Contact a {
   display: block;
   text-decoration: none;
   color: #f2f2f2;
   margin-bottom: 5px;
   position: relative;
}

.kol #Contact a i {
   color: #ff014fff;
   margin-right: 5px;
   font-size:25px;
}








/********** Responsive Design ********/
 @media(max-width:900px)
{
 .rij{
   flex-direction: column;
 }
 .kol{
   width: 100%;
   text-align: left;
   margin-bottom: 25px;
 }
}
@media(max-width:768px)
{
 .rij{
   flex-direction: column;
 }
 .kol{
   width: 100%;
   text-align: left;
   margin-bottom: 20px;
 }
}